#pokemon {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.cardPkm {
  height: 200px;
  width: 100px;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 4px 4px 10px;
}
